.container {
  display: flex;
  align-items: baseline;

  &:not(:first-of-type) {
    margin-top: 10px;
  }
}

.fileName {
  font-weight: bold;
}

.fileSize {
  margin-left: 10px;
}

.fileLoaded {
  color: greenyellow;
}

.fileHasErrors {
  color: red;
}
