.container {
  display: flex;
  align-items: center;

  &:not(:first-of-type) {
    margin-top: 10px;
  }
}

.fileName {
  font-weight: bold;
  margin-left: 20px;
  line-height: 22px;
}

.fileSize {
  margin-left: 10px;
}

.fileLoaded {
  color: greenyellow;
}

.fileHasErrors {
  color: red;
}

.status {
  position: absolute;
  transform: translateY(15%);
}
