.container {
  outline: 0;
  display: block;
  text-decoration: none;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: none;
  border: 1px solid #f1f3f5;
  position: relative;
  padding: 16px;
  max-width: 500px;
  margin: auto;
}

.dropzone {
  border: 2px dashed #ced4da;
  padding: 25px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  transition: background-color 150ms ease;
  position: relative;
  background-color: #fff;
  display: grid;
  justify-content: space-around;
  align-items: baseline;

  &:hover,
  &.dropzoneHover {
    background-color: #f8f9fa;
  }
}

.uploadIcon {
  margin: 5px auto;
}

.fileInput {
  display: none;
}
