.container {
  color: #000;
  border: 1px solid #f1f3f5;
  margin: auto;
  outline: 0;
  padding: 16px;
  display: block;
  position: relative;
  max-width: 500px;
  box-shadow: none;
  border-radius: 4px;
  text-decoration: none;
  background-color: #fff;
}

.dropzone {
  border: 2px dashed #ced4da;
  cursor: pointer;
  padding: 15px;
  display: grid;
  position: relative;
  transition: background-color 150ms ease;
  user-select: none;
  align-items: baseline;
  border-radius: 4px;
  justify-content: space-around;
  background-color: #fff;

  &:hover,
  &.dropzoneHover {
    background-color: #eff1f3;
  }
}

.uploadIcon {
  margin: 5px auto;
}

.fileInput {
  display: none;
}
